/* Font family: Nunito


AL poner la font-size en 62,5%, 1.6 rem equivale a 16px.

desktop
Font size párrafos: 1.8rem.
Font weigth: 400

Paleta de colores: 
    Color de texto: negro (probablemente)
    Rosa intermedio: #FF9494 Para los corazones de "Like" y para resaltar cosas (10% de la página) 
    Blanco: white Para tarjetas, formularios, barras de búsqueda o lo que sea que vaya por encima del fondo. (30% de la página)
    Rosa suave: #FFD1D1 Para el fondo de la página (60% de la página)
    Rosa intenso: #FF6C6C para cuando algo queda activado como un "Like"
    Degradado posible: background: linear-gradient(220.55deg, #FF9494  0%, #FF6C6C 100%);
Border radious 10px
Box shadow 1px 1px 5px gray

    */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --pink-intense: hsl(0, 100%, 71%);
  --pink-mid: hsl(0, 100%, 79%);
  --pink-soft: hsl(0, 100%, 91%);
  --white: hsl(0, 0%, 100%);
}

/* movil */

body {
  background-color: var(--white);
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

p,
a {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: var(--white);
  position: relative;
}

#section__nav__text {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#section__nav__menu {
  position: absolute;
  right: 24px;
  top: 24px;
}

.hamburger {
  cursor: pointer;
}

.lines line {
  stroke: var(--pink-intense);
  stroke-width: 4;
  stroke-linecap: round;
}

.hamburger.active .top {
  transform: translateY(5px) rotate(45deg);
  transform-origin: 50% 50%;
}

.hamburger.active .middle {
  opacity: 0;
}

.hamburger.active .bottom {
  transform: translateY(-10px) rotate(-45deg);
  transform-origin: 50% 50%;
}

#section__nav__text.show {
  visibility: visible;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 24px;
  margin-top: 84px;
  box-shadow: 0px 7px 5px -2px hsl(0, 0%, 75%);
  border-radius: 8px;
  opacity: 1;
  transform: translateY(0);
}
#section__nav__text.show a {
  font-size: 2rem;
  padding-bottom: 24px;
}

.logo{
  position: absolute;
  top: 24px;
  left: 24px; 
}